<!--header-top start -->
<header id="header-top" class="header-top">
	<ul>
		<li class="head-responsive-right pull-right">
			<div class="header-top-right">
				<ul>
					<li class="header-top-contact">
						nizartarik994gmail.com
					</li>
					<li class="header-top-contact">
						+212 642621383
					</li>

				</ul>
			</div>
		</li>
		<li>
			<div class="header-top-left"></div>
		</li>
	</ul>

</header>
<!--/.header-top-->
<!--header-top end -->
<section class="top-area">
	<div class="header-area" style='background-color: ;'>
		<nav
			class="nav-bar col-12 " role="navigation" style="
																																																																																																																																																																																      display: flex;
																																																																																																																																																																																      justify-content: space-between;
																																																																																																																																																																																      align-items: center;
																																																																																																																																																																																      padding: 1rem 4rem;
																																																																																																																																																																																      flex-wrap: wrap;
																																																																																																																																																																																																																				    ">
			<!-- Logo / Brand -->
			<div style="display: flex; align-items: center;gap:12px">

				<img src="{{ asset('images/logom.png') }}" style='width:70px; border-radius:50%' alt="image">

				<div class="navbar-header mb-4" style="font-size: 1.5rem; font-weight: bold; ">
					<a class="navbar-brand" href="home" style="text-decoration: none; color: #000;">

						Marokkanisches
						<span style="color:#E83F25;">Restaurant</span>
					</a>
				</div>
			</div>


			<!-- Navigation Links -->
			<ul class="nav-links" style="
																																																																																																																																																																																																																												        display: flex;
																																																																																																																																																																																																																												        gap: 2rem;
																																																																																																																																																																																																																												        list-style: none;
																																																																																																																																																																																																																												        margin: 0;
																																																																																																																																																																																																																												        padding: 0;
																																																																																																																																																																																																																												      ">
				<li>
					<a href="#home" class="scroll active" style="text-decoration: none; color: #000;">Home</a>
				</li>
				<li></li>
				<li>
					<a href="#menu" class="scroll" style="text-decoration: none; color: #000;">Menu</a>
				</li>
				<a href="#works" class="scroll" style="text-decoration: none; color: #000;">Discounts</a>
			</li>

			<li>
				<a href="#reviews" class="scroll" style="text-decoration: none; color: #000;">Reviews</a>
			</li>

			<li>
				<a href="#contact" class="scroll" style="text-decoration: none; color: #000;">Feedback</a>
			</li>
		</ul>
	</nav>
</div>
<div class="clearfix"></div></section>
